.main-stage {
  height: 100vh;
  width: 100vw;
  display: flex;

  .control-pane {
    height: 100%;
    width: 60px;
    background-color: #1B2631;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .yame-logo {
      margin-bottom: 20px;
    }

    .icons-btns {
      cursor: pointer;
      margin-bottom: 20px;
    }

    :first-child {
      margin-top: 20px;
    }

    :last-child {
      margin-top: auto;
      margin-bottom: 5px;
    }
  }

  .editor-container, .preview-container {
    height: 100%;
    width: calc(50% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .preview-container {
    background-color: whitesmoke;
    overflow-y: scroll;
  }
}